Package: bunsen-themes-base
Source: bunsen-themes
Version: 13.0-1.1
Architecture: all
Maintainer: John Crawley <john@bunsenlabs.org>
Installed-Size: 12427
Depends: gtk2-engines-murrine, gtk2-engines-pixbuf, libgtk-3-0 (>= 3.22.11)
Recommends: bunsen-images-base
Suggests: openbox, lightdm-gtk-greeter, bunsen-themes
Breaks: bunsen-themes (<< 12.5)
Replaces: bunsen-themes (<< 12.5)
Section: x11
Priority: optional
Homepage: https://github.com/bunsenlabs/bunsen-themes
Description: GTK, Openbox, and other themes for BunsenLabs on Debian
 This package provides only the themes used in the default desktop.
 The package bunsen-themes provides some alternative themes.
 Made by hhh and others from the BunsenLabs forums.
