Package: bunsen-themes
Version: 13.0-1.1
Architecture: all
Maintainer: John Crawley <john@bunsenlabs.org>
Installed-Size: 9898
Depends: bunsen-themes-base, gtk2-engines-murrine, gtk2-engines-pixbuf, libgtk-3-0 (>= 3.22.11)
Suggests: openbox, lightdm-gtk-greeter, bunsen-images, bunsen-numix-icon-theme
Breaks: bunsen-themes-extra (<< 12.3)
Replaces: bunsen-themes-extra (<< 12.3)
Section: x11
Priority: optional
Homepage: https://github.com/bunsenlabs/bunsen-themes
Description: GTK, Openbox, and other themes for BunsenLabs on Debian
 This package provides themes used in the default desktop and in the
 preset theme sets that come with BLOB (package bunsen-blob).
 Made by hhh and others from the BunsenLabs forums.
